@import "root.css";

*{
    /*border: solid 1px;*/
    box-sizing: border-box;
}

body, head{
    margin: 0;
    padding: 0;
}

.container-fluid{
    background-color: #F2F2F2;
}

.card-body{
    background-color: #A7D8F2;
}

iframe{
    height: 40vh;
}

.button:hover{
    color: #4F9FC7;
    border-color: #F2F2F2;
}

.title{
    font-size: 4vh;
    text-align: center;
    padding-top: 15vh; /* 此數值為Navbar高度 */    
    margin-top: -15vh;
}

@media screen and (max-width: 1024px){
    .title{
      text-align: left;
    }
}

@media screen and (max-width: 768px) {
    
}